@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    padding: 20px 15px;
}

.container .content{
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.content{
    text-align: center;
    padding-bottom: 20px;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

h3{
    font-size: 30px;
}

a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 10px 0;
    background-color: black;
    color: aliceblue;
    border-radius: 10px;
}

.wrapper{
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom:2px solid black ;
}